<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_database_user">

    <div class="pnl_formsarea">
        <fieldset class="inlineLabels">
            <div class="ctrlHolder">
                <label for="max_user_connections">{tmpl_var name='max_user_connections_txt'}</label>
                <input name="max_user_connections" id="max_user_connections" value="{tmpl_var name='max_user_connections'}" size="7" maxlength="7" type="text" class="textInput formLengthLimit" /><p class="label">connections</p>
            </div>
            <div class="ctrlHolder">
                <label for="max_queries_per_hour">{tmpl_var name='max_queries_per_hour_txt'}</label>
                <input name="max_queries_per_hour" id="max_queries_per_hour" value="{tmpl_var name='max_queries_per_hour'}" size="7" maxlength="7" type="text" class="textInput formLengthLimit" /><p class="label">queries/h</p>
            </div>
            <div class="ctrlHolder">
                <label for="max_updates_per_hour">{tmpl_var name='max_updates_per_hour_txt'}</label>
                <input name="max_updates_per_hour" id="max_updates_per_hour" value="{tmpl_var name='max_updates_per_hour'}" size="7" maxlength="7" type="text" class="textInput formLengthLimit" /><p class="label">updates/h</p>
            </div>
            <div class="ctrlHolder">
                <label for="max_connections_per_hour">{tmpl_var name='max_connections_per_hour_txt'}</label>
                <input name="max_connections_per_hour" id="max_connections_per_hour" value="{tmpl_var name='max_connections_per_hour'}" size="7" maxlength="7" type="text" class="textInput formLengthLimit" /><p class="label">connections/h</p>
            </div>

            <input type="hidden" name="database_user" id="database_user" value="{tmpl_var name='database_user'}">
            <input type="hidden" name="id" value="{tmpl_var name='id'}">
        </fieldset>


        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','sites/database_user_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('sites/database_user_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>

</div>